extends ../layouts/default.pug


include ../modules/footer.pug
include ../modules/header.pug

include ../modules/forms.pug

block variables
  - var pageTitle='Контакты'

  mixin contacts-phones-list(json)
    each data in json
      .contacts-phones-item
        .contacts-phones-title= data.title
        .contacts-phones-values
          each contact, i in data.contacts
            if(i == 0)
              a(href='tel:'+contact)= contact
            else
              a(href='mailto:'+contact)= contact

  mixin contacts-social-list(json)
    each data in json
      a.contacts-social-item(href=data.link, tagret="_blank")
        .contacts-social-img
          +icon(data.icon, 'svg')
        .contacts-social-text= data.name

block content
  +header()
  section.page-section.bg-additional
    .content
      .contacts-head
        h1.page-title.visual-animation-base Контакты
      .contacts-rect.visual-animation-base-block
        .contacts-col.double
          .contacts-rect-img
            +icon('location-color', 'svg')
            +icon('curve-gray-1', 'svg').line
          .contacts-rect-text 385600, Россия, Республика Адыгея, Гиагинский район, станица Гиагинская, ул. Ленина, 142
        .contacts-col
          .contacts-rect-img
            +icon('clock-color', 'svg')
            +icon('curve-gray-2', 'svg').line
          .contacts-rect-text 
            span.sub Часы работы
            span.small Понедельник ­–­­ Пятница 8:00 ­–­­ 17:00
        .contacts-col
          .contacts-rect-img
            +icon('circle-line-color', 'svg')
            +icon('curve-gray-3', 'svg').line
          .contacts-rect-text
            span.sub Выходные дни
            span.small Суббота, Воскресенье
      .contacts-phones.visual-animation-base-block
        +contacts-phones-list(getData('/pages/contacts/phones'))

      h2.page-title.visual-animation-base Мы в социальных сетях
      .contacts-social.visual-animation-base-block
        +contacts-social-list(getData('/pages/contacts/social'))
      .contacts-map.map-container
        #map
          .map_data
            input.placeMark(type="hidden"
              data-cords="44.864020, 40.073503",
              data-name="1",date-id='0')

  +contactUsForm()
  +subscriptionForm()
  +footer()