extends ../layouts/default.pug



include ../modules/footer.pug
include ../modules/header.pug
include ../modules/about.pug

include ../modules/forms.pug

block variables
 -var pageTitle='Партнерам'

mixin info-box-el(json)
  each data in json
    .info-box-el.visual-animation-base-block
      h3 #{data.number} <sup>#{data.units}</sup>
      p #{data.text}

mixin prevs-row-el(json)
  each data in json
    .prevs-box-row-el
      .prevs-box-row-el-icon
        +icon(data.icon, 'svg')(class=data.icon)
      p #{data.text}

mixin main-partners-box-nav-el(json)
  each data in json
    a.main-partners-box-nav-link(href=data.link) #{data.title}

block content
    +header()
    section.main-partners#main-partners.bg-additional
      canvas.partners-page-dashed(width="737", height="648")
      .content.main-partners-box.visual-animation-base-block
        .main-partners-box-nav
          +main-partners-box-nav-el(getData('pages/partners/main'))
        h2.main-partners-box-description Продукция завода <span class="text-border-dashed">«Гиагинский»</span> представлена во всех федеральных сетях, а потребители знают и ищут именно наш бренд.
    section.info#info
      canvas.partners-download-dashed(width="737", height="648")
      .content.info-box
        .info-box-header
          p.visual-animation-base За 2019 год мы произвели
        +info-box-el(getData('pages/partners/info-partners'))
        .info-box-details.visual-animation-base-block
          a(href="#details") Скачать презентацию
            span.bottomLines
    section.prevs
        .content.prevs-box
          .prevs-box-info
            h2.visual-animation-base Имеем эксклюзивное право на производство Адыгейского сыра и производим по технологии НМПТ
            +icon('prevslogo', 'svg').scrollRotate
          .prevs-box-row.visual-animation-base-block
            +prevs-row-el(getData('pages/partners/prevs'))
            .prevs-box-row-el.mouseParalax
              +icon('pack', 'svg')(class="pack")
    +askQuestionForm().bg-additional
    +about('О нас', './about.html').bg-additional.visual-animation-base-block
    +subscriptionForm().bg-additional
    +footer().bg-additional