extends ../layouts/default.pug

include ../modules/footer.pug
include ../modules/header.pug

include ../modules/forms.pug

block variables
  -var pageTitle='Где купить'
  mixin whereBuy-map-marks-list(json)
    .whereBuy-map-points(data-scrollbar)
      each point in json
        button.whereBuy-map-point(data-id=point.id)
          +icon('str-right-light-color','svg').map-point-icon
          .map-point-name= point.name
          .map-point-adress= point.adress

  mixin whereBuy-map-marks-data(json)
    .map_data
      each point in json
        input.placeMark(type="hidden"
          data-cords= point.pos
          data-name= point.name
          data-id=point.id)
  mixin whereBuy-shops-list(json)
    .shops-list.visual-animation-base-block
      each shop in json
        a.shops-item(href=shop.link)
          img(src=shop.img)
          +icon('str-right-light-color','svg')

block content
  +header()
  section.page-section.bg-additional
    .content
      .whereBuy-head
        h1.page-title.visual-animation-base Где купить
        .whereBuy-search
          +selectField('city','Ваш город',['Москва','Воронеж','Новгород'])
        button.whereBuy-geo#setGeoInMap
          +icon('srt-paper-plane','svg')
      .whereBuy-map.map-container
        .whereBuy-map-content
          +whereBuy-map-marks-list(getData('/pages/whereBuy/placeMarks'))
        #map
          +whereBuy-map-marks-data(getData('/pages/whereBuy/placeMarks'))
  section.shops-section
    .content
      h1.page-title.visual-animation-base Интернет-магазины
      +whereBuy-shops-list(getData('/pages/whereBuy/shops'))

  +subscriptionForm()
  +footer()